<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>781236960586-18mhdfh8r3t8grq0i4qk4uj7iu9mq57n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781236960586-18mhdfh8r3t8grq0i4qk4uj7iu9mq57n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>781236960586-q4tlio3nkc6tcai616kbe5hntmn8cmjv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQc2Vcm8eoDkHFtDjuKFzk_Dy8PbhA4k8</string>
	<key>GCM_SENDER_ID</key>
	<string>781236960586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nbdeg.homeroom.ios</string>
	<key>PROJECT_ID</key>
	<string>lohs-supportseminar</string>
	<key>STORAGE_BUCKET</key>
	<string>lohs-supportseminar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781236960586:ios:5c60611799ae1e51</string>
	<key>DATABASE_URL</key>
	<string>https://lohs-supportseminar.firebaseio.com</string>
</dict>
</plist>